{% extends 'description.html' %}
{% block title %}
    Welcome to Ke-ai Ice Cream!
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="color:rgb(153, 88, 88)">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Ke-ai Ice Cream</h1>
            <p class="lead font-weight-normal">In mandarin, "Ke'ai" translates to "cute" or "lovely". These words are what our products embody, cute but refined desserts that bring unique flavors and hopefully a smile to your mouth. Our products are made with the highest quality ingredients, and are dairy-free. Our signature oatmilk ice cream is incredibly creamy and rich, with none of the guilt associated with dairy products. We hope that you enjoy our desserts inspired by unique Asian flavors. Make your day a lovely one with Ke'ai!</p>       
        </div>
    </div>
{% endblock %}